@model CASPAR.ApplicationCore.Models.ViewModels.InstructorDetailsViewModel

<div>
    <h3>@Model.FirstName @Model.LastName</h3>
    <p>Program Preference: @Model.ProgramPreference</p>
    <p>Spring Load: @Model.SpringLoad</p>
    <p>Summer Load: @Model.SummerLoad</p>
    <p>Fall Load: @Model.FallLoad</p>
    <p>Instructor Notes: @Model.InstructorNotes</p>
</div>